footer{
    background-color: #f8f8f8;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 2px solid #ddd;
}
footer *{
    padding-inline: 15px;
    position: relative;
    max-height: fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
}

#panel-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*style for button to top of the page*/

#back-to-top{
    text-align: center;
}
#back-to-top-button{
    text-align: center;
    float:right;
}

footer section *{
    text-align: center;
}
