footer{
    background-color: #f8f8f8;
    border-top: 2px solid #ddd;
    padding: 0.5rem;
}

#authors-text{
    margin-bottom: 0;
}

#back-to-top{
    text-align: center;
}
#back-to-top-button{
    text-align: center;
    float:right;
}

footer section *{
    text-align: center;
}
