header {
    display: grid;
    top: 0;
    grid-template-columns: 1fr 5fr 0.5fr 0.5fr;
    align-items: center;
    border-bottom: 2px solid #ddd;
    background-color: #f8f8f8;
    padding: 20px;
}

header *{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#site-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    font-weight: bold;
}

#site-title a {
    text-decoration: none;
    color: #333;
}

#search-panel {
    padding: 0 5em;
    justify-content: center;
    grid-template-columns: 5fr 1fr;
    display: grid;
}

#search-panel * {
    padding-inline: 1em;
}

#user-panel {
    display: flex;
}

#user-panel p{
    margin: 0;
}

#cart-panel {
    grid-template-columns: 1fr 1fr;
    display: grid;
}

#search-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    justify-content: center;
}

header div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
