header {
    display: grid;
    top: 0;
    grid-template-columns: 1fr 5fr 0.5fr 0.5fr;
    align-items: center;
    border-bottom: 2px solid #ddd;
    background-color: #f8f8f8d0;
    padding: 10px 20px;
}

header * {
    display: grid;
    align-items: center;
    justify-content: center;
}

#site-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    font-weight: bold;
}

#site-title a {
    text-decoration: none;
    color: #333;
}

#search-panel {
    padding: 0 5em;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
    display: grid;
}

#search-panel * {
    padding-inline: 1em;
}

#user-panel{
    display: flex;
}

#cart-panel {
    grid-template-columns: 1fr 1fr;
    display: grid;
    justify-content: center;
}

#search-icon {
    vertical-align: middle;
    justify-content: center;
}

header div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
