/*default style for the document*/
html, body, main{
    height: 100%;
    margin: 0;
}

body{
    font-family: 'Times New Roman', Times, Georgia, serif;
    background-color: #ffffffbe;
}

main{
    margin-block: 2em;
    margin-inline: 5em;
}

/*style for buttons*/
button{
    color: #963235;
    background-color: #E7E7E7; 
    font-size:1rem;
    border-radius: 5px;
    border:none;
}
button:hover{
    color:#b83e42;
    background-color: #d6d4d4;
    border:none;
}

button.filter{
    color:#E7E7E7;
    background-color: #963235;
    border:none;
    border-radius: 10px;
    margin: 0px 5px;
}

button.filter:hover{
    text-decoration: underline;
}

/*style for links*/
a:link{
    color: #0000EE;
    text-decoration: none;
}

a:visited{
    color:#551A8B;
}
a:hover{
    text-decoration: underline;
}

/*style for list of the book in the carousel*/
#carousel{
    display: flex;
    align-items: center;
    width: 100%;
}

ul#carousel-list{
    padding-inline-start: 0;
    list-style-type: none;
    list-style-position: inside;
}
.book-item{
    display:inline-block;
    background-color: #969696;
    padding: 10px;
    margin: 5px;

}

#button-left, #button-left{
    margin: 0 5px;
}

/*style for button to top of the page*/
#back-to-top-button{
    text-align: center;
    float:right;
}
/*style for buttons*/
#books-change{    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#add-book{
    width:fit-content;
    margin: 5% 20%;
}
#change-book{
    width:fit-content;
    margin: 5% 20%;
}

/*style for login page*/
#login-screen{
    display: block;
    place-self: center;
    place-items: center;
    margin: 5px;
    border-style: solid;
    border-radius: 1px;
    width: 50%;
    padding: 5px;
    background-color: #969696;
}

#login-screen .form-group{
    display: grid;
}
#login-screen .form-group input{
border-style: solid;
}
#login-screen #submit-password-button{
    place-self: center;
    display: block;
    margin: 5px;
}

/*style for checkout page*/
#payment-screen{
    display: block;
    place-self: center;
    place-items: center;
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-radius: 1px;
    width: 50%;
    background-color: #969696;
}
#payment-screen .form-group input{
    border-style: solid;
}

#payment-screen .form-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#payment-screen .pay-group{
    place-self: center;
    display: block;
    margin: 5px;
}

/*style for register page*/
#register-screen{
    display: block;
    place-self: center;
    place-items: center;
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-radius: 1px;
    width: 50%;
    background-color: #969696;
}
#register-screen .form-group input{
    border-style: solid;
}

#register-screen .form-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#register-screen .submit-registration-button{
    place-self: center;
    display: block;
    margin: 5px;
}
