/*default style for the document*/
html, body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

body{
    font-family: 'Times New Roman', Times, Georgia, serif;
    background-color: #ffffffbe;
}

main{
    flex: 1;
}

p, h1{
    margin-bottom: 0 !important;
}


/*style for buttons*/
button{
    color: #963235;
    background-color: #E7E7E7; 
    font-size:1rem;
    border-radius: 5px;
    border:none;
}
button:hover{
    color:#b83e42;
    background-color: #d6d4d4;
    border:none;
}

button.filter{
    color:#E7E7E7;
    background-color: #963235;
    border:none;
    border-radius: 10px;
    margin: 0px 5px;
}

button.filter:hover{
    text-decoration: underline;
}

/*style for links*/
a:link{
    color: #0000EE;
    text-decoration: none;
}

a:visited{
    color:#551A8B;
}
a:hover{
    text-decoration: underline;
}

/*style for category.html*/
#category-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    justify-items: center;
}

#grid-item > *{
    padding: 0.5rem;
}

#page{
    padding-inline: 0.5rem;
}


/*style for item*/
#item-main{
    place-self: center;
    place-items: center;
    margin-top: 2rem !important;
    margin: 1rem;
    padding: 1rem;
    border-style: solid;
    border-radius: 1px;
}

main, main article > section{
    border-style: ridge;
    border-radius: 0.5px;
    border-color: #969696;
    background-color: #f8f8f8;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


#item{
    padding: 1rem;
    align-items: start;
}

#item article> *{
    margin: 1rem;
}

#item-gallery, #item-details{
    padding: 0.5rem;
    padding-inline: 1rem;
    margin-inline: 2rem;
}

#thumbnail-gallery{
    margin: 0.5rem;
    margin-inline: 1rem;
}

#thumbnail-gallery > *{
    max-height: 90px;
    max-width: 60px;
}

#item-image{
    max-height: 180px;
    max-width: 120px;
}

#item-details{
    margin-top: 1rem;
    padding: 0.5rem;
}

#item-page{
    margin: 1rem;
    padding: 0.5rem;
}

#item-abstract{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#item-status{
    border-style: ridge;
    border-radius: 1px;
    padding: 0.5rem;
}

#item-desc > p{
    margin-top: 0.5rem;
}

/*style for list of the book in the carousel*/
#carousel{
    display: flex;
    align-items: center;
    width: 100%;
}

ul#carousel-list{
    padding-inline-start: 0;
    list-style-type: none;
    list-style-position: inside;
}

.book-item{
    display:inline-block;
    background-color: #969696;
    padding: 10px;
    margin: 5px;
}

#button-left, #button-left{
    margin: 0 5px;
}

/*style for buttons */
#books-change{    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#add-book{
    width:fit-content;
    margin: 5% 20%;
}
#change-book{
    width:fit-content;
    margin: 5% 20%;
}

/*style for login.html */
#login-screen{
    display: block;
    place-self: center;
    place-items: center;
    margin: 0.5em;
    padding: 1rem;
    border-style: solid;
    border-radius: 1px;
    width: 65%;
    background-color: #969696;
}

@media (max-width: 991px){
    #login-screen{
        display: block;
        place-self: center;
        place-items: center;
        margin: 0.5em;
        padding: 1rem;
        border-style: solid;
        border-radius: 1px;
        width: 100%;
        background-color: #969696;
    }
}

#login-screen .form-group input{
    border-style: solid;
}

#login-title{
    margin-bottom: 2rem;
}

#login-info{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/*style for checkout.html */
#payment-screen{
    display: block;
    place-self: center;
    place-items: center;
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-radius: 1px;
    width: 65%;
    background-color: #969696;
}
#payment-screen .form-group input{
    border-style: solid;
}

#payment-screen .form-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#payment-screen .pay-group{
    place-self: center;
    display: block;
    margin: 5px;
}

#register-screen{
    display: block;
    place-self: center;
    place-items: center;
    margin: 0.5em;
    padding: 1rem;
    border-style: solid;
    border-radius: 1px;
    width: 75%;
    background-color: #969696;
}

@media (max-width: 991px){
    #register-screen{
        display: block;
        place-self: center;
        place-items: center;
        margin: 0.5em;
        padding: 1rem;
        border-style: solid;
        border-radius: 1px;
        width: 100%;
        background-color: #969696;
    }
}

#register-screen .form-group input{
    border-style: solid;
}

#register-screen .submit-registration-button{
    place-self: center;
    display: block;
    margin: 5px;
}

#form-group {
    margin-bottom: 1rem;
}

#register-title{
    margin-bottom: 2rem;
}

#register-error{
    display: none; /* basically hide the error message */
}

#btn-register{
    margin-top: 2rem;
}

/*styles for shoppingcart.html */
#cart, #cart > *{
    padding: 1rem;
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
    #cart-item {
        flex-direction: row;
    }
  }

#cart-item{
    padding: 1rem;
}

#cart-item > *{
    padding: 0.5em;
    flex-direction: column;
}

#item-title{
    margin: 0;
}

#item-icon{
    max-width: 128px;
    min-width: 128px;
    width: auto;
    height: auto;
    margin-right: 2rem;
}

@media (max-width: 991px) {
    #item-icon{
        max-width: 64px;
        min-width: 64px;
        width: auto;
        height: auto;
        margin-right: 2rem;
    }
}

#item-data{
    display: flex;
    flex-direction: row;
}

#item-control{
    flex-direction: row;
}

#item-control > *{
    padding-inline: 0.5rem;
}

#in-stock{
    color: green;
}

#out-of-stock{
    color: red;
}

#item-price-gross{
    font-weight: bold;
}

#cart-summary{
    display: flex;
    justify-content: flex-end;
}

#total-price-gross{
    font-weight: bolder;
}

#navigation-buttons{
    margin-top: 3em;
    border-style: none;
}

#navigation-buttons *{
    margin-inline: 0.5em;
}